.button {
  align-self: center;
  background: #ffe81fdf;
  border-left: 4px solid transparent;
  cursor: pointer;
  color: $star-wars-black;
  text-decoration: none;
  padding: $spacing-sm;
  position: relative;
  transition: all 0.3s ease;

  &:before {
    content: "";
    background: $star-wars-black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    left: $spacing-sm;
    top: $spacing-sm;
  }

  @media (min-width: $md) {
    &:hover {
      background: #ffe81fff;
      border-left: 4px solid $star-wars-red;
    }
  }

  &--active {
    background-color: $star-wars-yellow;
    border-left: 4px solid $star-wars-red;
  }
}
