.card {
  background: rgba(255, 232, 31, 0.2);
  margin-bottom: $spacing-md;
  margin-left: -$spacing-sm;
  padding: $spacing-md;
  position: relative;
  flex: 1 0 100%;
  transition: all 0.3s ease;
  z-index: 1;

  @media (min-width: $md) {
    flex: 1 0 31%;
    margin-right: $spacing-lg;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &:hover {
    background: rgba(255, 232, 31, 0.75);
  }

  &:before {
    content: "";
    background: rgba(240, 240, 240, 1);
    top: $spacing-sm;
    left: $spacing-sm;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 $spacing-md;

    @media (min-width: $lg) {
      margin: 0;
    }
  }

  &__gender {
    margin-bottom: 16px;
  }

  &__headline {
    font-size: $font-md;
  }

  &__icon {
    font-size: $font-md;

    &--male {
      color: #993030;
    }

    &--female {
      color: #303099;
    }

    &--divers {
      color: #309930;
    }
  }

  &__planet {
    background: #ffe81fdf;
    border-left: 3px solid transparent;
    cursor: pointer;
    color: $star-wars-black;
    text-decoration: none;
    margin-top: $spacing-md;
    padding: $spacing-sm;
    position: relative;
    transition: all 0.3s ease;

    &:before {
      content: "";
      background: $star-wars-black;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: -1;
      left: $spacing-sm;
    }

    @media (min-width: $md) {
      &:hover {
        background: #ffe81fff;
        border-left: 3px solid $star-wars-red;
      }
    }
  }
}
