.detail {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  padding: $spacing-md;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 100%);
  transition: $transition-all-slow-ease;
  width: 100%;
  z-index: 2;

  @media (min-width: $md) {
    padding: 0;
    width: auto;
  }

  &--open {
    transform: translate(-50%, -50%);
  }

  &__container {
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 2;
  }

  &__title {
    background: $star-wars-white-light;
    border-radius: 25px;
    font-size: $font-md;
    margin-bottom: $spacing-md;
    padding: $spacing-sm;
  }

  &__item {
    background: $star-wars-white-light;
    border-radius: 25px;
    font-size: $font-sm;
    margin: 0 auto $spacing-md;
    padding: $spacing-sm;
    width: fit-content;
  }
}
