.filter {
  &-button {
    background-color: #eee;
    cursor: pointer;
    padding: $spacing-sm $spacing-md;
    transition: $transition-all-ease;
    width: 100%;
    user-select: none;
    position: relative;

    @media (min-width: $lg) {
      width: fit-content;

      &:not(:last-child) {
        margin-right: $spacing-md;
      }
    }

    &:hover {
      background-color: #888;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    height: 0;
    margin-bottom: $spacing-md;
    width: 100%;
    overflow: hidden;
    transition: $transition-all-ease;
  }

  &__toggle {
    background: $star-wars-white;
    border-radius: 4px;
    font-size: $font-sm;
    margin: $spacing-md 0;
    width: auto;
  }

  &__overflow-container {
    justify-content: space-between;
    width: 100%;

    @media (min-width: $md) {
      display: flex;
    }
  }

  &__scroll-container {
    padding: 8px 8px 8px 0;
    width: 100%;
    transform: translateY(-100%);
    transition: $transition-all-ease;

    @media (min-width: $md) {
      display: flex;
    }

    &--open {
      transform: translateY(0);
    }
    .button {
      height: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 1px;
    }
  }
}
