$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 48px;
$spacing-xxl: 64px;

$star-wars-yellow: #ffe81f;
$star-wars-black: #050505;
$star-wars-white: #eee;
$star-wars-grey: #333;
$star-wars-red: #9f0613;

$font-sm: 1rem;
$font-md: 1.5rem;
$font-lg: 3rem;
$font-xl: 4rem;

$transition-all-ease: all 0.3s ease;
